@import "../node_modules/tinper-bee-core/scss/minxin-variables";
@import "../node_modules/tinper-bee-core/scss/minxin-mixins";
.has-error{
	.u-form-control {
	    border-color: $brand-danger;
	    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	}
	.u-control-label {
		color: $brand-danger;
	}
	.u-input-group-addon {
	    color: $brand-danger;
	    border-color: $brand-danger;
	    background-color: $brand-light-danger;
	}
} 
.has-success {
	.u-form-control {
	    border-color: $brand-success;
	    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	}
	.u-control-label {
		color: $brand-success;
	}
	.u-input-group-addon {
	    color: $brand-success;
	    border-color: $brand-success;
	    background-color: $brand-light-success;
	}
} 
.has-warning{
	.u-control-label{
		color: $brand-warning;
	}
	.u-form-control {
	    border-color: $brand-warning;
	    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	}
	.u-input-group-addon {
	    color: $brand-warning;
	    border-color: $brand-warning;
	    background-color: $brand-light-warning;
	}
}
.u-form-group {
	margin-bottom: 15px;
	margin-top: 15px;
}
