@import "../node_modules/tinper-bee-core/scss/minxin-variables";
@import "../node_modules/tinper-bee-core/scss/minxin-mixins";
.has-error{
	.form-control {
	    border-color: #a94442;
	    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	}
	.control-label {
		color: #a94442;
	}
	.input-group-addon {
	    color: #a94442;
	    border-color: #a94442;
	    background-color: #f2dede;
	}
} 
.has-success {
	.form-control {
	    border-color: #3c763d;
	    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	}
	.control-label {
		color: #3c763d;
	}
	.input-group-addon {
	    color: #3c763d;
	    border-color: #3c763d;
	    background-color: #dff0d8;
	}
} 
.has-warning{
	.control-label{
		color: #8a6d3b;
	}
	.form-control {
	    border-color: #8a6d3b;
	    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	}
	.input-group-addon {
	    color: #8a6d3b;
	    border-color: #8a6d3b;
	    background-color: #fcf8e3;
	}
}
.form-group {
	margin-bottom: 15px;
}
